{% extends "blog/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
{% endblock %} 
{% block content %}
<article class="post-detall">
    
    <h1> Detall de l'Autor</h1>
    <p><b>Nom:</b> {{ autor.nom }}</p>
    <p><b>Cognom:</b> {{ autor.cognom }}</p>
    <p><b>Email:</b> {{autor.email}}</p>
    <h1>Llistat de tots els posts</h2>
    <div class="post-grid">    
    {% for post in autor.posts.all %}
        <div class="post-card">
            <img src="{% static 'blog/' %}{{ post.imatge }}" alt="{{ post.titol }}">
            <h3>{{ post.titol }}</h3>
            <p>{{ post.descripcio }}</p>
            <a href="{% url 'post_detall' post.id %}" class="btn">Veure més</a>
        </div>
    {% endfor %}
    </div>
</article>
{% endblock %}